<!DOCTYPE html>
<html>
  <head>
    <title>学生添加页面</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="jquery-1.12.4.js"></script>
    <script type="text/javascript" src="my.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  
  <body>
      <div >
      	<div style="margin:0px auto;width: 400px;border:1px solid #000;padding: 10px;">
      		<h2 style="text-align: center;">学生添加</h2>
      		<form action="/add" method="post">
      			<p> 学生姓名： <input name="stuName" type="text"  class="sname"/><span class="span"></span> </p>
      			<p> 学生地址： <input name="stuAddress" type="text"   class="sdizhi"/><span class="span1"></span> </p>
      			<p> 学生介绍： <textarea name="stuInfo" rows="5" cols="40"></textarea> </p>
      			<p style="text-align: center;"> <input class="tijiao" type="submit" value="提交" /> <input type="reset" value="重置" /> </p>
      		</form>
      	</div>
      </div>
      <img alt="" src="img/dog1.jpg">
  </body>
</html>
